.game-container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(135deg, #043e78 1%, #032a52 100%);
	padding: 2rem;
    font-family: 'VT323', monospace;
}

.maintable {
  width: 80rem;
  height: 50rem;
  background-color: #6B21A8;
  border: 8px solid #3B0764;
  border-radius: 20px;
} 