@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=VT323&display=swap');

.home-container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(135deg, #e24a5e 1%, #043e78 100%);
	padding: 2rem;
    font-family: 'VT323', monospace;
}

.home-content {
	width: 800px;
    height: 520px;
	text-align: center;
	background-color: white;
	padding: 2rem;
	border-radius: 15px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, rgba(255,255,255,0.8), rgba(245,245,245,0.7));
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.home-content h1 {
	color: #333;
	font-size: 100px;
	margin-bottom: 1.5rem;
    font-weight: 400;
}

.description {
	color: #666;
	font-size: 1.2rem;
	line-height: 1.6;
	margin-bottom: 2.5rem;
}

button {
    width: 400px;
    height: 65px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.action-buttons {
	display: flex;
    flex-direction: column;
	gap: 1.5rem;
	margin-bottom: 1rem;
    font-size: medium;
    font-weight: 10;
}

.action-button {
	flex: 1;
	padding: 1rem 2rem;
	border-radius: 8px;
	font-size: 1.1rem;
	font-weight: 600;
	text-decoration: none;
	transition: transform 0.2s, box-shadow 0.2s;
}

.action-button:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.action-button.create {
	background-color: #2C3E50;
	color: white;
    border: none;
}

.action-button.join {
	background-color: #16A085;
	color: white;
    border: none;
}

.action-button.rules {
	background-color: #C0392B;
	color: white;
    border: none;
} 